.header_top {
    background-color: grey;
    margin: -9px -20px;
    height:  55px;
    text-align:  center;
    font-size: 40px;
    font-family:  monospace;
    color:  white;
}
.form {
    margin: 48px 28%;
   
}
.input_a {
    border-radius: 10px;
    height: 44px;
    width: 580px;
    border-color: grey;
    text-align:  center;
}
.input_b {
    border-radius: 10px;
    height: 44px;
    width: 580px;
    border-color: grey;
    margin-top: 17px;
    text-align:  center;
}
.input_c {
    border-radius: 10px;
    height: 44px;
    width: 580px;
    border-color: grey;
    margin-top: 17px;
    text-align:  center;
}

.login_btn {
    border-radius: 20px;
    height: 37px;
    width: 580px;
    margin-top: 17px;
    color: white;
    background-color: gray;
    border-color: transparent;
}
.signup_btn {
    border-radius: 20px;
    height: 44px;
    width: 580px;
    margin-top: 17px;
    color: white;
    background-color: gray;
    border-color: transparent;
}
.a_btn {
    background-color: lightcoral;
    border-radius: 25px;
    
    height: 44px;
    width: 580px;
    color: white;
    margin-top: 17px;
    

    
}
.content{
    
 border-radius: 30px;
    transform: translate(4.5%,26%);
    background-color: black;
   padding-top: 0.07%;
    margin-left:15%;
    margin-right: 20%; 
    padding-right: 400px;
    height: 70%;
}
body{
    background-color: #6f6060;
}