/*Just put */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #6f6060;
}


/*Just put */

body * {
    display: block;
    text-align: center;
}

.header_top {
    background-color: grey;
    /* margin: -9px -20px;*/
    /*height:  55px; */
    padding: 6px;
    /* Just put //* Changes the padding of the title */
    font-size: 38px;
    font-family: monospace;
    color: white;
}

.content {
    display: inline-block;
    /*transform: translate(-3%, 28%); */
    /* padding-top: 6.07%;
    margin-left: 6%;  */
    width: 70%;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    margin-top: 7%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    /*padding-bottom: 74px;  */
}


/*Just Put */

.form {
    padding: 5px;
    /*  padding-top: 20px;
    padding-bottom: 20px; */
    display: inline-block;
    width: 65%;
    text-align: center;
}

form input {
    margin-top: 13px;
}


/* Just put*/

.form form div input,
a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input_a {
    border-radius: 10px;
    height: 44px;
    width: 100%;
    border-color: grey;
    text-align: center;
    display: block;
}

.input_b {
    display: block;
    border-radius: 10px;
    height: 44px;
    width: 100%;
    border-color: grey;
    /* margin-top: 17px; */
    text-align: center;
}

.input_c {
    display: block;
    border-radius: 10px;
    height: 44px;
    width: 100%;
    border-color: grey;
    /*  margin-top: 17px; */
    text-align: center;
}

.login_btn {
    border-radius: 20px;
    height: 37px;
    width: 100%;
    /* margin-top: 17px; */
    color: white;
    background-color: gray;
    border-color: transparent;
}

.signup_btn {
    border-radius: 20px;
    height: 44px;
    width: 100%;
    /* margin-top: 17px; */
    color: white;
    background-color: gray;
    border-color: transparent;
}

.a_btn {
    background-color: lightcoral;
    border-radius: 25px;
    height: 44px;
    width: 100%;
    color: white;
    /* margin-top: 17px;*/
}